version: "3.9"

services:
  api:
    build: ./api
    container_name: api-node
    ports:
      - "3000:3000"

  web:
    build: ./web
    container_name: web-nginx
    ports:
      - "8080:80"
    depends_on:
      - api
